commonroad_vehicle_models>=3.0.2
matplotlib>=3.1.0
networkx>=2.6.3
numpy>=1.21.6
methodtools
omegaconf>=2.1.1
pytest>=6.2.5
scipy>=1.7.1
sphinx>=2.2.1
commonroad-route-planner<2022.2
commonroad-io==2022.3
commonroad-drivability-checker==2022.2
numba
commonroad-helper-functions
wale-net==3.0.1
ruamel.yaml
pygeos
imageio
git+https://gitlab.lrz.de/motionplanning1/commonroad_helper_functions.git@highd-comparison













